@keyframes page-cover-left {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes page-cover-right {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.page-cover-left {
   rotate: -200deg;
  animation: page-cover-left 1s ease-in-out forwards;
}

.page-cover-right {
    rotate: 200deg;
  animation: page-cover-right 1s ease-in-out forwards;
}



.html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.section {
  scroll-snap-align: start;
}