.loader {
  border-top-color: #3498db;
  animation: spin 1s infinite linear;
}   
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.SHADOW {
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1), 0 10px 3px rgba(0, 0, 0, 0.06);
}